services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: bustracker
    environment:
      POSTGRES_DB: bustrackerdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

volumes:
  postgres_data_dev:
